<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudoos | Home</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="favicon" href="img/favicon.ico" type="image/x-icon">
</head>
<body id="home">
    <!--    website root Landing page -->

    <!-- Flex Container one -->
    <div class="flex-container">
        <!-- info about website -->
        <a href="/admin_login" class="admin-btn">Admin Login</a>
        <div class="flex-col flex-col-1">

            <div class="to-end">
                <img src="img/to do list maker.png" alt="icon" width="100px" height="100px" class="icon">
                <h1>TUDOOS</h1>
                <p class="site_quote">Simplfy your tasks</p>
            </div>

        </div>
    
        <!-- Flex Container two -->
        <div class="flex-col flex-col-2">
            <!-- buttons for signing up and loging in -->
            <h5 class="h5">Create an Account and start <b><i>Tudooing</i></b></h5>
            <p class="login_msg">If you already have an account, login securely</p>
            <a href="/signup"><button type="button" id="sign_up">Sign Up</button></a>
            <a href="/login"><button type="button" id="login">Log In</button></a>
        </div>
    </div>
    
    
</body>
</html>