<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudoos</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="favicon" href="../assets/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Includes Header of the page -->
    <%- include ('include/_header') %>
    <a href="/user_logout" class="user-logout-btn">
        Log out
    </a>

    <br><br><br><br><br>
    <!-- Landing page of authenticated users -->
    <div class="container">
        <h3><b>Welcome to tudoos</b></h3>
        <p><i>Start Tudooing Now</i></p>
    </div>
    <img src="https://as1.ftcdn.net/v2/jpg/04/58/05/78/1000_F_458057874_tQNcZPZfN5JEn8qJExwOc2g25fMaAsxZ.jpg" alt="To do list" style="margin-left: 270px;">
        




</body>
</html>